<!DOCTYPE html>
<html>



<head>
  <center>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


</head>



<body>
<br>
<br>
<br>
<br>
<a data-flickr-embed="true" href="" ><img src="https://farm1.staticflickr.com/508/20235064768_2a3cabe1ef_b.jpg" width="1024" height="686" alt="beer caps">


 <br>
    <br>
    <br>


  <div style="padding:0 15px;"><!-- offset row negative padding -->
    <div class="row">

      <div class="col-md-3"><a href="https://biru29.herokuapp.com/orders" ><img src="https://farm1.staticflickr.com/415/20454976201_70fc389642_b.jpg" width="225" height="250" alt="jointoday"></a>
</div>


      <div class="col-md-3"><a href="https://biru29.herokuapp.com/pause" ><img src="https://farm1.staticflickr.com/465/19827834073_d5e7d6b066_b.jpg" width="225" height="250" alt="jointoday"></a>
</div>


       <div class="col-md-3"><a href="https://biru29.herokuapp.com/cancel" ><img src="https://farm4.staticflickr.com/3686/20454976421_d29b958b7f_b.jpg" width="250" height="350" alt="jointoday"></a>
</div>


        <div class="col-md-3"><a href="https://www.chef29.com/" ><img src="https://farm4.staticflickr.com/3733/19828487953_8baa38984f_b.jpg" width="225" height="250" alt="jointoday"></a>
</div>



</div>
</div>
</div>
</div>
</body>

  </center>

</html>

<script type="text/javascript">stLight.options({publisher: "89b684f6-f300-44c4-96b8-d569c39da32d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "89b684f6-f300-44c4-96b8-d569c39da32d", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
