<!DOCTYPE html>
<html>



<head>
  <center>




</head>

<br>
  	<br>
	<br>
  	<br>
	<br>
	<i><font color = "gray" size ="6" face = "Baskerville Old Face">2015年 8月精選精釀啤酒</font></i>
  	<br>
  	<br>
  	<br>

<body>
<a data-flickr-embed="true" href="" ><img src="https://farm1.staticflickr.com/387/20396921206_512bf4b2e1_b.jpg" width="1024" height="1024" alt="IMG_3839">

</body>

  </center>

</html>