<!DOCTYPE html>
<html>



<head>
  <center>




</head>



<body>



  	<br>
	<br>
	<i><font color = "gray" size ="6" face = "Baskerville Old Face">每月＄1499為您精選共12隻精釀啤酒，再免費送到您府上。</font></i>
  	<br>
  	<br>

	<a data-flickr-embed="true" href="" ><img src="https://farm1.staticflickr.com/450/20209012468_fe68f2f0ca_b.jpg" width="1824" height="840" alt="s2"></a>

    <br>
  	<br>
  	<br>
  	<a data-flickr-embed="true" href="https://www.biru29.com" ><img src="https://farm1.staticflickr.com/488/19775000154_e73463e773_b.jpg" width="1424" height="160" alt="B2"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

</body>

  </center>

</html>