<!DOCTYPE html>
<html>



<head>
  <center>




</head>



<body>

<br>
  	<br>
	<br>
  	<br>
	<br>
  

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
 
  </ol>
  <!-- Carousel items -->

  <div class="carousel-inner">
  <div class="active item"><a href="" ><img src="https://farm1.staticflickr.com/497/20397647396_64998e36b9_b.jpg" width="1451" height="450" alt="what1"></a></div>


  <div class="item"><a href="http://biru29.herokuapp.com/orders" ><img src="https://farm1.staticflickr.com/416/20415252152_98db8c5c79_b.jpg" width="1450" height="450" alt="buy1d1"></a></div>


  </div>
  <!-- Carousel nav -->
 
  <div style="padding:0px;">
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

    </div>

    <br>
  	<br>
  	<br>
  	<a data-flickr-embed="true" href="https://biru29.herokuapp.com/birumentary" ><img src="https://farm1.staticflickr.com/488/19775000154_e73463e773_b.jpg" width="1424" height="160" alt="B2"></a>

  	<br>
  	<br>
  	<br>

  	  <div class="flex-video widescreen"><iframe width="600" height="250" src="https://www.youtube.com/embed/ETnlrYq7btE" frameborder="0" allowfullscreen></iframe>

</body>

  </center>

</html>