<!DOCTYPE html>
<html>



<head>
  <center>




</head>

 
  <br>
 <hr>
  <br>
	<br>
	<i><font color = "gray" size ="6" face = "Baskerville Old Face">未成年禁止飲酒</font></i>
  	<br>
  	<br>
  	<br>

<body>


</body>

  </center>

</html>